{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Schema{% endblock %}

{% block page_content %}
    <div class="container">
        {% for index in indices %}
            {% set tab = "tab" ~ tabs[index] %}
            {{ macros.schema_row(tab, schema[index]) }}
        {% endfor %}
    </div>

    <style>
    .fail {
        background-color: #f4511e; /* Orange */
        color: #ffffff;
    }
    .tab1 {
        padding-left:1em;
    }
    .tab2 {
        padding-left:2em;
    }
    .tab3 {
        padding-left:3em;
    }
    .tab4 {
        padding-left:4em;
    }
    .tab5 {
        padding-left:5em;
    }
    .tab6 {
        padding-left:6em;
    }
    .tab7 {
        padding-left:7em;
    }
    </style>
{% endblock %}