{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Upload/Import Tests{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div>
                {{ wtf.quick_form(form, button_map={'submit':'warning'}, form_type='basic') }}
                </br>
                <h4> IMPORTANT: </h4>
                <h5>In order to upload tests, upload 'tests_user_defined.py' containing the appropriate tests.</h5>
                <h5>Uploading tests or importing from a postman collection will delete existing user defined tests.</h5>
            </div>
        </div>
    </div>
{% endblock %}
